<html>
    <head>
        <title>e Pass confirmation </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <style>
            #stamp {
              visibility:hidden;
             }
        </style>

    </head>
    <body>
        <div class="header">
            <div style="width: 20%;">
                <img src="/static/indialogo.png" style="height: 100%;padding: 0;float: left;">
            </div>
            <div style="width: 80%;text-align: center;padding-top: 1%;">
                <h1>COVID-19 ePass Govt. of INDIA </h1>
            </div>

        </div>
        <marquee width="100%" direction="left" height="5%" style="background-color: rgb(169, 194, 216);">
            With the second wave of Covid-19 already pushing major state governments to prepare a fresh blueprint to fight
            the pandemic spread, state governments including Maharashtra, Rajasthan, Punjab, Jharkhand, Uttar Pradesh and Tamil Nadu
            among others have even imposed night lockdown in respective states.
            So the central government has decided to give epass for the people who wants to travel from one place to another.
            Please make sure your application status is CONFIRMED.
        </marquee>
        <div class="float-container" >
            <div class="page1">
                <div class="page2">
                    <h2 style="text-align: center;">COVID-19 ePass</h2>
                    <hr style="height: 1px;background-color:black;">
                    <h4>Name: {{var}}</h4>
                    <h4>Email Id: {{var1}}</h4>
                    <h4>Aadhar Number : {{var2}}</h4>
                    <h4>Travelling From : {{var4}}, District : {{var3}}</h4>
                    <h4>Travelling To : {{var6}}, District : {{var5}}</h4>
                    <h4>PhoneNumber : {{var7}}</h4>
                    <h4>Date of travel : {{var8}}</h4>
                    <h4>Status : <u>{{var9}}</u></h4>
                    <div id="stamp" ><img src="/static/approve.png" style="float:right;padding-right:50px;" alt="approved logo" width="150px" height="130px">
                    </div>
                    <script type="text/javascript">
                        var status="{{var9}}";
                        var yes="CONFIRMED";
                        if(status==yes){
                            document.getElementById('stamp').style.visibility='visible';
                        }
                    </script>
                </div>
                 <center><a href="/"><button style="background-color: rgb(8, 151, 32);color: white;">home page</button></a></center>
            </div>
        </div>
    </body>
</html>